<a [routerLink]="''">Go back to dashboard</a>

@if (bestVotedGame) {
<p class="best-game-award-container">Best game: {{ bestVotedGame.title }}</p>
}

<div>
  @for(game of arrayOfGames; track game){
  <app-game-card
    [game]="game"
    (bestGame)="bestVotedGame = $event"
  ></app-game-card>
  }
</div>

<div class="add-new-game-container">
  <button nz-button nzType="primary" (click)="toggleAddNewGame()">
    Add New Game
  </button>
  @if ( showAddGameForm ) {
  <app-add-game-form></app-add-game-form>
  }
</div>
